$md-primary: (
    50 : #fde2e3,
    100 : #fbb6ba,
    200 : #f8868c,
    300 : #f5555d,
    400 : #f2303b,
    500 : #f00c18,
    600 : #ee0a15,
    700 : #ec0811,
    800 : #e9060e,
    900 : #e50308,
    A100 : #ffffff,
    A200 : #ffd9d9,
    A400 : #ffa6a7,
    A700 : #ff8c8d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #fff5e0,
    100 : #ffe5b3,
    200 : #ffd480,
    300 : #ffc34d,
    400 : #ffb626,
    500 : #ffa900,
    600 : #ffa200,
    700 : #ff9800,
    800 : #ff8f00,
    900 : #ff7e00,
    A100 : #ffffff,
    A200 : #fff8f2,
    A400 : #ffdbbf,
    A700 : #ffcda6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

