@import 'material-palette';

:host {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.image-banner {
  background-image: url('assets/images/marvel.jpg');
  height: 340px;
  width: 100%;
  background-size: auto;
  background-position: center;
}

.content {
  background-color: map-get($md-primary, 700);;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 100px 0;
}

button {
  display: block;
  margin: 0 auto;
}

.content__header {
  padding: 150px 0 50px;
  h1 {
    font-size: 3rem;
  }
}