@import "material-palette";

.top-info {
  color: white;
  background-color: #2b2b2b;
  box-shadow: 0px 9px 12px -4px #565656;
  padding:0 0 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.top-info__character-pic {
  margin: 0 15px 0 35px;
  width: 150px;
}

.top-info__detail {
  margin-left: 30px;
  width: 100%;
  max-width: 700px;
}

.detail__stats {
  margin-top: 25px;
}

.stat {
  margin: 10px 0;
  vertical-align: middle;
  mat-icon {
    margin-right: 10px;
    vertical-align: middle;
  }
}

.stat--red {
  mat-icon {
    color: map-get($md-primary, 700);
  }
}

.stat--orange {
  mat-icon {
    color: map-get($md-accent, 700);
  }
}

.stat--blue {
  mat-icon {
    color: #2682af;
  }
}
