<ng-template #loading>
  <ma-cool-loading></ma-cool-loading>
</ng-template>
<ng-container *ngslAsyncHandler="stories$ | async as comicsStream;
  useLoading: loading">
  <ng-template #empty>
    <ma-empty-results></ma-empty-results>
  </ng-template>
  <ng-container *ngIf="comicsStream.payload as comicsCollection">
    <ng-container *ngIf="comicsCollection.results.length > 0; else empty">
      <ma-stories-table
        maxHeight="calc(100vh - 440px)"
        [items]="comicsCollection.results"></ma-stories-table>
    </ng-container>
  </ng-container>
</ng-container>

<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onNewPage($event)">
</mat-paginator>
