.banner {
  color: white;
  background-color: #2b2b2b;
  box-shadow: 0px 9px 12px -4px #565656;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  h1 {
    margin: 0;
  }
}
